<div class="header" id="main-header">
  <div class="container">
    <div class="row">
      <div class="columns four">
        <a href="/"><img src="images/bayraktar-logo-dark.png" id="logo" /></a>
      </div>
      <div class="columns eight text-right">
        <ul>
          <li>
            <a href="/">Welcome</a>
          </li>
          <li>
            <a href="about">About Bayraktar</a>
          </li>
          <li>
            <a href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
